/* Mobile */

@media (max-width: 899px) {
    .container {
        width: 600px;
    }

    /* Header */

    .header-top, .header-content {
        width: 100%;
    }
    .header-title {
        font-size: 42px;
    }
    .header-content p {
        font-size: 20px;
    }

    /* Main */

    .main {
        padding: 60px 0;
    }
    .main-row {
        flex-direction: row-reverse;
        margin-bottom: 60px;
    }
    .main-content {
        width: auto;
    }
    .main-header {
        font-size: 42px;
    }
    .main-content-text {
        font-size: 16px;
    }
    .button {
        padding: 0 30px;
        height: 46px;
        font-size: 18px;
        line-height: 46px;
    }
    .main-img {
        flex-shrink: 0;
        width: 170px;
        margin-right: 30px;
    }
    .main-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /* Footer */

    .footer {
        padding: 40px 0;
    }
    .footer-row {
        flex-direction: column-reverse;
    }
    .footer-widget-wrapper {
        justify-content: space-between;
        margin-bottom: 50px;
    }
    .footer-copyright {
        width: auto;
    }

    /* Inner-page-tours */

    .inner-page {
        padding: 40px 0;
    }

    .header-inner {
        height: 80px;
    }
    .header-inner .logo {
        font-size: 30px;
    }
    
    .cards-first-row {
        flex-direction: column;
        margin-bottom: 0;
    }
    .cards-second-row {
        flex-direction: column;
    }
    .card, .card.bigger, .card.small  {
        width: 570px;
    }
    .cards-second-row-colomn > * + * {
        margin-top: 0;
    }
    .card:not(.small) {
        margin-bottom: 30px;
    }

    
    /* Inner-page-article */

    .inner-page.article {
        padding: 20px 0;
    }

    .article-page-nav {
        margin-bottom: 20px;
        width: 100%;
    }
    .article-page-nav-title {
        margin-bottom: 20px;
    }

    .row-article-page {
        flex-direction: column-reverse;
    }

    .article-page-article {
        margin-bottom: 40px;
    }
    .article-page-article {
        font-size: 16px;
    }
    .article-page-article h1 {
        font-size: 42px;
    }
    .article-page-article img {
        margin: 20px 0;
    }

    /* Inner-page-contacts */

    .contacts-info {
        flex-direction: column;
    }

    .contacts-header {
        margin-bottom: 30px;
    }

    .contacts-block + .contacts-block {
        margin-top: 40px;
    }

    .map {
        width: 570px;
        height: 310px;
    }

    .form {
        padding: 30px;
    }
}
